:root {
  --color-primary: #ffffff;
  --color-secondary: #2e2f42;
  --color-text: #434455;
  --color-title-link: #2e2f42;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  background: var(--color-primary);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* ==============TITLE==================== */
.hero .h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}

.h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* invisible title portfolio main */
.Invisible-title {
  color: var(--color-primary);
}
/*================ BUTTON ==================*/
.hero .button,
.nav .button {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: var(--color-primary);
  cursor: pointer;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

/* section portfolio nav */
.nav .button {
  color: #4d5ae5;
  background: #f4f4fd;
}
.nav .button:hover,
.nav .button:focus {
  background: #4d5ae5;
  color: var(--color-primary);
}

/* ===============HEADER=================== */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-secondary);
  letter-spacing: 0.03em;
}

.acento {
  color: blue;
}
.menu {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
  cursor: pointer;
}
.address .link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  cursor: pointer;
}
.menu:hover,
.menu:focus,
.mail .link:hover,
.mail .link:focus,
.tel .link:hover,
.tel .link:focus {
  color: #404bbf;
}

/*================= SECTION ================== */

/* ===========section Hero============== */
.hero {
  background: var(--color-secondary);
  color: var(--color-primary);
}

/* =========section Our Team ===========*/
.our-team {
  background: #f4f4fd;
}

/* =================== FOOTER ================ */
.footer .logo {
  color: var(--color-primary);
}
.footer {
  background: var(--color-secondary);
  color: var(--color-primary);
}
