.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  background: #e5e5e5;
  color: #2e2f42;
  font-family: "Roboto";
  font-style: normal;
}
/* header */
.logo {
  font-family: "Raleway";
  font-style: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #2e2f42;
  letter-spacing: 0.03em;
}

.acento {
  color: blue;
}
. menu {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu:hover,
.menu:focus {
  color: #404bbf;
}

.address .link {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail .link:hover,
.mail .link:focus {
  color: #404bbf;
}
/* main */
/* section hero */
.hero {
  background: #2e2f42;
}
.hero .h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.hero .button,
.nav .button {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
}
/* section about company */
.about {
  background-color: #ffffff;
}
.h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* section work */
.work {
  background-color: #ffffff;
}
.h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}
/* footer */
.footer {
  background: #2e2f42;
  color: #ffffff;
}
.footer .logo {
  color: #ffffff;
}
/* main Portfolio */
.portfolio {
  background: #ffffff;
}
/* section portfolio nav */
.nav .button {
  color: #4d5ae5;
  background: #f4f4fd;
}
.nav .button:hover,
.nav .button:focus {
  background: #4d5ae5;
  color: #ffffff;
}
/* invisible title portfolio main */
.Invisible-title {
  color: #ffffff;
}
